@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <label>Id</label>
    <input class="form-control" value="@ViewBag.Id_Usuario" readonly />
    <br />
    <label>Nome</label>
    <input class="form-control" value="@ViewBag.NomeUsuario" readonly />
    <br />
    <label>Email</label>
    <input class="form-control" value="@ViewBag.Email" readonly />
    <br />
    <label>Grupo</label>
    <input class="form-control" value="@ViewBag.NomeUsuario" readonly />
    <br />
    <label>Data de criação do usuario</label>
    <input class="form-control" value="@ViewBag.Dt_Criacao" readonly />
    <br />
    <label>Data de alteração da senha</label>
    <input class="form-control" value="@ViewBag.Dt_AlteracaoSenha" readonly />
    <br />
    <label>Data de de bloqueio de acesso</label>
    <input class="form-control" value="@ViewBag.Dt_Bloqueio" readonly />
</div>

